* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.game {
  width: 1024px;
  height: 768px;
  margin: 20px auto;
}
